includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: build/phpstan
